-r requirements.txt

# Improve code quality
pylint
flake8
mypy
types-requests>=2.31.0.10

pytest

# Analyze license compliance of dependencies
pip-licenses>=4.3.3

# Analyze dependency tree
pipdeptree>=2.13.0

build

Jinja2
sphinx
sphinx-rtd-theme
myst-parser
